<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title slot="end">ارتباط با ما</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding" [fixed]="true">
    <ion-row>
      <ion-col class="background">
        <div class="stories-container">
          <div class="story-list">
            آدرس ایمیل:
          </div>
          <div>Hosseini.mohammad1369@gmail.com</div>
          <div class="story-list">
            تلفن تماس:
          </div>
          <div>
            ۰۹۱۲۰۶۴۶۷۲۵
          </div>
          <div> گروه برنامه نویسی وانیا:</div>
          <div>با مدیریت محمد حسینی پرتو</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
