<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title slot="end">story</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/stories"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding" [fixed]="true">
    <ion-row>
      <ion-col class="background">
        <div class="container">
          <div class="title">{{story[0].title}}</div>
          <div class="image">
            <img [src]="story[0].src" alt="">
          </div>
          <div class="body">
            {{story[0].body}}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
