<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title slot="end">کتابخانه نیمه‌شب وانیا</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goTo('information')">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding">
  <ion-grid class="ion-no-padding" [fixed]="true">
    <ion-row>
      <ion-col class="background">
        <div>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-1"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-2"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-3"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-4"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-5"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-6"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-7"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-8"></ion-img>
          <ion-img src="assets/images/white-cloud.webp" class="cloud-9"></ion-img>
        </div>
        <div class="buttons">
          <ion-button (click)="goTo('stories', 1)">
            <ion-icon slot="end" name="star"></ion-icon>
            قصه‌های قدیمی
          </ion-button>
          <ion-button (click)="goTo('stories', 2)">
            <ion-icon slot="end" name="star"></ion-icon>
            قصه‌هایی برای خواب
          </ion-button>
          <ion-button (click)="goTo('stories', 3)">
            <ion-icon slot="end" name="star"></ion-icon>
            قصه‌هایی برای نی نی‌ها
          </ion-button>
          <ion-button (click)="goTo('stories', 4)">
            <ion-icon slot="end" name="star"></ion-icon>
            قصه‌های انگلیسی ساده
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
